<app-home [hidden]="currentTabId!==0" (tabChangeEvent)="switchTab($event); tabChange($event)"></app-home>
<app-motivation #getstarted [hidden]="currentTabId!==1" [theme]="theme" [host]="host" [api]="backendPath" [cdn]="cdn"
                (tabChangeEvent)="switchTab($event); tabChange($event)"></app-motivation>
<app-standalone #standalone  *ngIf="currentTabId==2" [api]="backendPath" [hidden]="currentTabId!==2"></app-standalone>
<app-playground #playground *ngIf="currentTabId===3" [theme]="theme" [hidden]="currentTabId!==3" [api]="backendPath"></app-playground>
<app-doc #documentation [hidden]="currentTabId!==4" [api]="backendPath" [version]="'v'+version" [cdn]="cdn"
         [host]="host"></app-doc>
<app-cite #cite *ngIf="currentTabId===5" [theme]="theme" [hidden]="currentTabId!==5" [api]="backendPath"></app-cite>
<app-call-landing #call *ngIf="currentTabId===6" [theme]="theme" [hidden]="currentTabId!==6" [api]="backendPath"></app-call-landing>
