:root {
  --drgstn-primary:#408af7;
  --drgstn-secondary:#f78040;
  --drgstn-success:#48C774;
  --drgstn-warning:#FFDD57FF;
  --drgstn-danger:#F14668;
  --drgstn-background:#1f2d40;
  --drgstn-panel:#1f2d40;
  --drgstn-info:#61c43d;
  --drgstn-text-primary:#f0f0f0;
  --drgstn-text-secondary:#303030;
  --drgstn-border:rgba(255, 255, 255, 0.2);
  --drgstn-tooltip:rgba(181,181,181,0.9);
  --drgstn-panel-secondary:#2b3d57;
  --drgstn-height: 600px;
}