<div class="row">
    <div style="height: 50px"></div>
    <div class="column" style="width: 70%; padding: 25px">
        <div style="margin-bottom: 15px">
            <app-datapanel></app-datapanel>
        </div>
        <div style="padding: 15px; margin-bottom: 15px">
            <div style="height: 400px;width:100%; background-color: white; ">
                <app-drugstonepanel [id]="id" [config]="config" [network]="network"></app-drugstonepanel>
            </div>
        </div>

        <app-codepanel [code]="code" [style]="{maxWidth: '500px'}"></app-codepanel>
    </div>
    <div class="column" style="width: 30%">
        <app-sidebar (configChangeEvent)="changeConfig($event)"></app-sidebar>
    </div>
</div>

