<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <app-datapanel
          class="p-1"
          [nodeGroups]="groups.nodeGroups"
          (setNodesEvent)="setNodes($event)"
        ></app-datapanel>
        <app-drugstonepanel
          class="p-1"
          [id]="id"
          [config]="getMergedConfig()"
          [network]="network"
        ></app-drugstonepanel>
        <app-sidebar
        class="p-1"
        [config]="config"
        [theme]="theme"
        [nodeGroups]="groups.nodeGroups"
        [edgeGroups]="groups.edgeGroups"
        (configChangeEvent)="changeConfig($event)"
        (colorChangeEvent)="changeColor($event)"
        (editGroupEvent)="editGroup($event)"
      ></app-sidebar>
        <app-codepanel class="p-1" [code]="code"></app-codepanel>
        <app-stylepanel class="p-1" [code]="style"></app-stylepanel>
      </div>
  </div>
</div>
