<div style="width: 100%; background-color: var(--surface-a);">
    <div style="display: flex">
        <b (click)="clickHome()" style="color: var(--text-color); font-size: xx-large; display: inline-flex; cursor: pointer; marginLeft: 5px"> The drugst.one project
        </b>
        <p-divider layout="vertical"></p-divider>
        <p-tabMenu [model]="tabsModel" [activeItem]="activeTab" class="drugstone-header"></p-tabMenu>
        <div style="align-self: center; justify-self: flex-end; margin: auto 15px auto auto; display: flex; align-content: center; height: 100%">
            <i class="fas fa-sun" [style]="{color:'var(--primary-color)', marginTop:'7px', marginRight: '5px'}"></i>
            <p-inputSwitch [ngModel]="darkThemeStyle" (onChange)="switchThemeStyle($event.checked)"></p-inputSwitch>
            <i class="fas fa-moon" [style]="{color:'var(--primary-color)', marginTop:'7px', marginLeft: '5px'}"></i>
        </div>
    </div>
</div>
