<p-card class="dt-card" [style]="{padding:'15px', margin:'5px'}" header="How to integrate DrugsTone?">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit sem, porta ultricies metus non,
    interdum pharetra sem. Maecenas finibus ligula diam. Fusce blandit lorem et ligula vestibulum bibendum. Quisque
    placerat nibh id erat lacinia elementum. Donec est nisl, ultricies nec augue quis, vulputate placerat nulla.
    Donec congue orci eget nunc vehicula aliquet. Vestibulum in nibh eget ipsum varius porttitor. Morbi quis ipsum
    sit amet leo dapibus molestie placerat vel nisi. Cras posuere purus sem, in eleifend dolor maximus eget. Etiam
    vel iaculis mi. Phasellus eget sagittis urna. Cras nec feugiat leo, scelerisque elementum ligula. Nulla
    ultricies sodales magna, id accumsan orci tempus nec. Nulla rutrum nisl ante, ac vehicula odio tristique in. Ut
    finibus facilisis pretium. Maecenas sollicitudin porttitor felis, non ornare lacus faucibus at.
    <app-code lang="html" [code]="general.plugin"></app-code>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit sem, porta ultricies metus non,
    interdum
    pharetra sem. Maecenas finibus ligula diam. Fusce blandit lorem et ligula vestibulum bibendum. Quisque placerat
    nibh
    <app-code lang="html" [code]="general.body"></app-code>
    id erat lacinia elementum. Donec est nisl, ultricies nec augue quis, vulputate placerat nulla. Donec congue orci
    eget nunc vehicula aliquet. Vestibulum in nibh eget ipsum varius porttitor. Morbi quis ipsum sit amet leo
    dapibus
    molestie placerat vel nisi. Cras posuere purus sem, in eleifend dolor maximus eget. Etiam vel iaculis mi.
    Phasellus
    eget sagittis urna. Cras nec feugiat leo, scelerisque elementum ligula. Nulla ultricies sodales magna, id
    accumsan
    orci tempus nec. Nulla rutrum nisl ante, ac vehicula odio tristique in. Ut finibus facilisis pretium. Maecenas
    sollicitudin porttitor felis, non ornare lacus faucibus at.
</p-card>
<app-panel headerIcon="fab fa-angular" title="AngularJS">
    <div class="p-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit sem, porta ultricies metus non,
        interdum
        pharetra sem. Maecenas finibus ligula diam. Fusce blandit lorem et ligula vestibulum bibendum. Quisque placerat
        nibh
        <app-code lang="html" [code]="angular.plugin"></app-code>
        id erat lacinia elementum. Donec est nisl, ultricies nec augue quis, vulputate placerat nulla. Donec congue orci
        eget nunc vehicula aliquet. Vestibulum in nibh eget ipsum varius porttitor. Morbi quis ipsum sit amet leo
        dapibus
        <app-code lang="typescript" [code]="angular.app"></app-code>
        molestie placerat vel nisi. Cras posuere purus sem, in eleifend dolor maximus eget. Etiam vel iaculis mi.
        Phasellus
        <app-code lang="html" [code]="angular.body"></app-code>
        eget sagittis urna. Cras nec feugiat leo, scelerisque elementum ligula. Nulla ultricies sodales magna, id
        accumsan
        orci tempus nec. Nulla rutrum nisl ante, ac vehicula odio tristique in. Ut finibus facilisis pretium. Maecenas
        sollicitudin porttitor felis, non ornare lacus faucibus at.
    </div>
</app-panel>
<app-panel headerIcon="fab fa-vuejs" title="Vue.js">
    <div class="p-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit sem, porta ultricies metus non,
        interdum
        pharetra sem. Maecenas finibus ligula diam. Fusce blandit lorem et ligula vestibulum bibendum. Quisque placerat
        nibh
        <app-code lang="html" [code]="vue.plugin"></app-code>
        id erat lacinia elementum. Donec est nisl, ultricies nec augue quis, vulputate placerat nulla. Donec congue orci
        eget nunc vehicula aliquet. Vestibulum in nibh eget ipsum varius porttitor. Morbi quis ipsum sit amet leo
        dapibus
        <app-code lang="javascript" [code]="vue.app"></app-code>
        molestie placerat vel nisi. Cras posuere purus sem, in eleifend dolor maximus eget. Etiam vel iaculis mi.
        Phasellus
        <app-code lang="html" [code]="vue.body"></app-code>
        eget sagittis urna. Cras nec feugiat leo, scelerisque elementum ligula. Nulla ultricies sodales magna, id
        accumsan
        orci tempus nec. Nulla rutrum nisl ante, ac vehicula odio tristique in. Ut finibus facilisis pretium. Maecenas
        sollicitudin porttitor felis, non ornare lacus faucibus at.
    </div>
</app-panel>

<app-panel headerIcon="fab fa-react" title="Other...">
    <div class="p-content">
        <div>
            Special adjustments may have to been made for other modern website building frameworks. If you encounter any
            issues with one not listed above or have some solutions please feel free to contact us. This way we can
            offer
            help or you help us to provide knowledge to others.
        </div>
        <p-divider></p-divider>
            <p-button type="button" label="Contact" icon="far fa-envelope" iconPos="right"></p-button>
    </div>
</app-panel>

