<div>
    <label class="side-label" style="padding: 5px 6px 5px 12px; font-size: small">{{title}}<i
            class="far fa-question-circle" [pTooltip]="tooltip" style="margin-left: 3px; padding-left:1px"></i></label>
    <div style="display: flex">
        <div style="padding: 3px 10px 5px 24px; justify-content: flex-start">
            <p-colorPicker [(ngModel)]="model" (onHide)="emitChange()" [format]="format"></p-colorPicker>
        </div>
        <div *ngIf="textinput" style="display: flex">
            <input style="width: 90%; justify-content: flex-start" type="text" pInputText
                   [(ngModel)]="model">
            <div style="padding: 6px; justify-content: flex-end; margin-left: auto">
                <button class="p-button-rounded p-button-outlined" pButton pRipple
                        type="button"
                        icon="pi pi-check"
                        [style]="{width:'25px', height:'25px', paddingTop: '6px'}"
                        (click)="emitChange()"></button>
            </div>
        </div>
    </div>
</div>
