<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col-md-6">
      <img
        class="img-fluid"
        [src]="isDark() ? '/assets/logo_dark.png' : '/assets/logo.png'"
        height="300px"
      />
    </div>
  </div>
  <div class="row align-items-start text-center">
    <div class="col">
      <iframe
        width="360"
        height="240"
        src="https://www.youtube.com/embed/ScMzIvxBSi4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video"
      ></iframe>
    </div>
    <div class="col">
      <iframe
        width="360"
        height="240"
        src="https://www.youtube.com/embed/oznr-1-poSU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video"
      ></iframe>
    </div>
    <div class="col">
      <iframe
        width="360"
        height="240"
        src="https://www.youtube.com/embed/NpEaa2P7qZI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video"
      ></iframe>
    </div>
  </div>

  <div class="row text-center mb-3">
    <div class="col-12">
      <h2>Close the link between genes and drugs!</h2>
    </div>
    <div class="col-12">
      <h2>Enrich your results</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <p-button
        label="Integrate drugst.one"
        icon="pi pi-fw pi-th-large"
        (onClick)="switchTab(1)"
      ></p-button>
    </div>
    <div class="col-md-4 mb-3">
      <p-button
        label="Start using URL-config"
        icon="pi pi-fw pi-send"
        (onClick)="switchToDoc('standalone-url')"
      ></p-button>
    </div>
    <div class="col-md-4 mb-3">
      <p-button
        label="Use drugst.online"
        icon="pi pi-fw pi-send"
        (onClick)="switchTab(2)"
      ></p-button>
    </div>
  </div>
</div>
