<div class="container">
  <div class="px-4 py-4 text-center">
    <img
      class="d-block mx-auto mb-4 home-logo"
      [src]="isDark() ? '/assets/logo_white.png' : '/assets/logo_black.png'"
      alt="drugstone logo"
    />
    <!-- <h1 class="display-5 fw-bold">Centered hero</h1> -->
    <div class="col-lg-6 mx-auto">
      <p class="lead">Visualize protein interactions with one click or integrate Drugst.One with 3 lines of code.
        <br>
        Close the link between Proteins and Drugs on your website!
      </p>
      
    </div>
  </div>
  <img />
  <div class="row align-items-start text-center">
    <div class="col">
        <iframe
          width="360"
          height="240"
          src="https://www.youtube.com/embed/ScMzIvxBSi4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="video"
        ></iframe>
      <div class="row">
        <p-button
          label="Integrate drugst.one"
          icon="pi pi-fw pi-th-large"
          (onClick)="switchTab(1)"
        ></p-button>
      </div>
    </div>
    <div class="col">
      <iframe
        width="360"
        height="240"
        src="https://www.youtube.com/embed/oznr-1-poSU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video"
      ></iframe>
      <div class="row">
        <p-button
        label="Start using URL-config"
        icon="pi pi-fw pi-send"
        (onClick)="switchToDoc('standalone-url')"
      ></p-button>
      </div>
    </div>
    <div class="col">
      <iframe
        width="360"
        height="240"
        src="https://www.youtube.com/embed/NpEaa2P7qZI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="video"
      ></iframe>
      <div class="row">
        <p-button
        label="Use drugst.online"
        icon="pi pi-fw pi-send"
        (onClick)="switchTab(2)"
      ></p-button>
      </div>
    </div>
  </div>

</div>
