<div class="accordion" id="accordionData">
  <div
    class="accordion-item"
    [ngClass]="{
      'text-light bg-dark': themeService.theme === 'theme-dark',
      'text-dark bg-light': themeService.theme === 'theme-light'
    }"
  >
    <h2 class="accordion-header" id="headingData">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseData"
        aria-expanded="true"
        aria-controls="collapseOne"
        [ngClass]="{
          'text-light bg-dark': themeService.theme === 'theme-dark',
          'text-dark bg-light': themeService.theme === 'theme-light'
        }"
      >
        <i class="far fa-list-alt"></i>&nbsp;Data Import
      </button>
    </h2>
    <div
      id="collapseData"
      class="accordion-collapse collapse show"
      aria-labelledby="headingData"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="row">
          <div class="col-md-12">
            <app-dropdown
            [items]="diseaseExamples"
            label="Examples"
            (onChange)="loadExample($event)"
            tooltip="Choose genes from a list of example diseases."
          ></app-dropdown>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <textarea
                  class="w-100"
                  pInputTextarea
                  [(ngModel)]="rawData"
                  placeholder="Enter a list of node ids separated by: tab, newline, comma, semicolon or space! E.g.:  PTEN, TP53 "
                  [autoResize]="false"
                ></textarea>
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col">
                <app-dropdown
                  [items]="getNodeGroupList()"
                  label="Node Group"
                  [model]="group"
                  (onChange)="group = $event"
                  tooltip="Select the group you want your nodes to be added to"
                ></app-dropdown>
              </div>
              <div class="col">
                <p-button
                  label="Convert"
                  icon="fas fa-long-arrow-alt-right"
                  styleClass="p-button-sm p-button-primary m-2"
                  (onClick)="convertToJson()"
                ></p-button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <textarea
                  class="w-100"
                  pInputTextarea
                  [disabled]="true"
                  [(ngModel)]="jsonString"
                  [autoResize]="false"
                >
                </textarea>
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col text-center">
                <p-button
                  label="Nodes to config"
                  icon="fas fa-long-arrow-alt-right"
                  styleClass="p-button-sm p-button-primary m-2"
                  (onClick)="setNodes()"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
