.side-label {
  padding:3px 5px 3px 5px
}

.flex {
  display: flex
}

.flex-content-left {
  justify-content: flex-start;
}

.flex-content-right {
  justify-content: flex-end;
}

.flex-self-left {
  justify-self: flex-start;
}

.flex-self-right {
  justify-self: flex-end;
  margin-left: auto;
}

.flex-self-center {
  justify-self: center;
  margin-left: auto;
}
