<div style="width: 91vw">
    <app-panel title="Network Input" headerIcon="far fa-list-alt" [collapsed]="panelNWCollapsed">
        <div class="p-content" style="height: 400px; width: 100%;">
            <div style="display: flex; height: 87.5%">
                <div style="width: 48vw;height: 100%">
                    <div style="width: 100%; height: 20%; display: flex">
                        <span style="align-self: flex-start; font-size: x-large; margin:15px"><b>Nodes</b></span>
                        <app-dropdown label="Node Source" [items]="dataLists.identifierList"
                                      tooltip="Select the type of source IDs you use for your gene/protein nodes. This is necessary to correctly map the entries and to provide additional information. Additional sources may be included in the future or upon request."
                                      [model]="getConfig('identifier')"
                                      (onChange)="changeConfig('identifier',$event)"
                                      style="align-self: flex-end; margin-left: auto;"></app-dropdown>
                    </div>
                    <textarea pInputTextarea style="height: 80%; width: 100%;" [(ngModel)]="rawNodes"
                              placeholder="Enter a list of node ids separated by: tab, newline, comma, semicolon or space! E.g.:  PTEN, TP53 "
                              [autoResize]="false"></textarea>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div style="width: 48vw;height: 100%">
                    <div style="width: 100%; height: 20%; display: flex">
                        <span style="align-self: flex-start; font-size: x-large; margin:15px"><b>Edges</b></span>
                    </div>
                    <textarea pInputTextarea style="height: 80%; width: 100%;" [(ngModel)]="rawEdges"
                              placeholder="Enter an edge list, so pairs of nodeIDs separated by: tab, comma, semicolon or space and each pair separated by newline! E.g.:  PTEN, TP53\nPTEN, BRCA1 "
                              [autoResize]="false"></textarea>
                </div>
            </div>
            <div style="width: 100%; height: 50px; display: flex; justify-content: center">
                <p-button label="Load Network" style="align-self: center; margin-top: auto; margin-bottom: auto;"
                          icon="fas fa-long-arrow-alt-right"
                          styleClass="p-button-sm p-button-primary"
                          (onClick)="setNetwork()"></p-button>
            </div>
        </div>

    </app-panel>
</div>
<div style="width:91vw">
    <app-panel title="Advanced" headerIcon="fas fa-cogs">
        <div class="p-content">
            <app-dropdown label="Protein-Protein Interaction DB" [items]="dataLists.protProtInterList"
                          [model]="getConfig('interactionProteinProtein')"
                          tooltip="Select the dataset of protein-protein information that is later used in functions like 'Find Drug Targets' and 'Run Task X'."
                          (onChange)="changeConfig('interactionProteinProtein',$event)"></app-dropdown>
            <app-dropdown label="Drug-Protein Interaction DB" [items]="dataLists.drugProtInterList"
                          [model]="getConfig('interactionDrugProtein')"
                          tooltip="Select the dataset of drug-protein information that is later used in functions like 'Find Drug Targets'."
                          (onChange)="changeConfig('interactionDrugProtein',$event)"></app-dropdown>
            <app-switch label="Autofill interactions" [model]="getConfig('autofillEdges') == null || getConfig('autofillEdges')" (onChange)="changeConfig('autofillEdges',$event)" tooltip="If enabled, adds automatically gene-gene interaction edges." ></app-switch>
        </div>
    </app-panel>
</div>
<div style="width:91vw">
    <app-panel title="Drugstone" headerIcon="fas fa-capsules" [collapsed]="panelDRGSTNCollapsed">
        <div class="p-content">
            <app-drugstonepanel [config]="config" [network]="network" [theme]="theme"></app-drugstonepanel>
        </div>
    </app-panel>
</div>

