/* You can add global styles to this file, and also import other style files */


//@import "~bulma/bulma.sass";
//@import '~bulma-tooltip';
@import '../theme.css';
@import '~primeng/resources/themes/vela-blue/theme.css';
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import '~highlight.js/styles/github-dark-dimmed.css';


.dt-card {
  text-align: justify;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
pre {
  overflow: auto;
  padding: 10px;
}

code {
  background-color: black;
  color: #dcdee1;
}

.drugstone-header .p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
  background-color: transparent;
}

.tabView .p-tabview .p-tabview-nav {
  list-style:none !important;
}
